<div class="formStyle">
  <h1>Random Password Generator</h1>
  <br />
  <section>
    <label>Length</label>
    <input />
  </section>
  <br />
  <div class="checkboxDiv">
    <section>
      <label>Letters</label>
      <input type="checkbox" />
    </section>
    <section>
      <label>Numbers</label>
      <input type="checkbox" />
    </section>
    <section>
      <label>Symbols</label>
      <input type="checkbox" />
    </section>
  </div>
  <br />
  <div>
    <button (click)="handelClick()">Generate Password</button>
  </div>
  <br />
  <div>
    <label>Your Password</label>
    <input />
  </div>
</div>
